@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.head1{
    font-size: 20px;
}

body {
    background: #f5f7fa;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #1e3a8a;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar a {
    color: #cbd5e1;
    text-decoration: underline;
    font-size: 15px;
}


.sidebar a:hover {
    color: #060b05;
}

/* Main */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-table table {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    margin-bottom: 15px;
}

.progress-table th,
.progress-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.progress {
    background: #e5e7eb;
    border-radius: 5px;
    height: 8px;
    overflow: hidden; 
}

.bar {
    background: #3b82f6;
    height: 100%;
    transition: width 1s ease;
}

.deadlines ul {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin-bottom: 30px;
}

.deadlines li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.date {
    background: #3b82f6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
}

.profile-info .info-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main-content {
        padding: 15px;
    }
}